body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 5px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
	/*border: 1px solid #D2D2D2;*/
	background-color: white;
}

.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  /*border-top: 1px solid #D2D2D2;*/
}
.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}

.gwt-DialogBox .dialogTopLeftInner {
  width: 8px;
  height: 6px;
  zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
  width: 8px;
  height: 10px;
  zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}

html>body .gwt-DialogBox {
}

* html .gwt-DialogBox .dialogTopLeftInner {
  width: 8px;
  overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 8px;
  height: 10px;
  overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

.cw-DialogBox {
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #fff;
}		

.gwt-MenuBar-vertical .subMenuIcon {
  background: #fff;
}		

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	/*
	font-size: 80%;
	cursor: default;
	*/
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	padding: 1px 0px;
	margin: 0px;
	white-space: nowrap;
	cursor: hand;
	cursor: pointer;
	width: 250px;
    max-width: 250px;
    word-wrap: break-word;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	cursor: hand !important;
    border: 1px solid;
    border-color: #e47911;
    box-shadow: 0 0 5px #e47911;
    border-radius: 7px;
}

.gwt-SuggestBoxPopup .item {
	padding: 4px;
	cursor: hand !important;
	font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	color: darkblue;
}

.gwt-SuggestBoxPopup .item-selected {
	cursor: hand !important;
    outline: none;
    border-color: #e47911;
    box-shadow: 0 0 5px #e47911;
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e0e0e0);
	/*
	background-color: white;
	padding: 2px;
	*/
}

.gwt-DisclosurePanel {
    border: 2px solid #dadada;
    border-radius: 7px;
	background-color: white;
}

/*
.gwt-DisclosurePanel .header {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	font-weight: bold;
	cursor: hand;
}
*/
.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
	text-decoration: none;  /* Remove underline from header */
	color: black;
	cursor: hand;
	font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 14px;
	font-weight: bold;
}

/** My Stuff **/
.field {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	width: 250px;
	font-size: 12pt;
}
.longField {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	width: 500px;
	font-size: 12pt;
}
.listBoxField {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	width: 250px;
	font-size: 12pt;
	padding: 5px;
}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}
.glowing-border:focus { 
    outline: none;
    border-color: #e47911;
    box-shadow: 0 0 5px #e47911;
}
.heavy-captionpanel {
    background-color: #FCFCFC;
    border: 6px solid #999999;
    color: black;
    font-weight: bold;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 24px;
    margin: 0 0 15px;
    padding: 0 12px 12px;
    border-radius: 7px;
}
.medium-captionpanel {
    background-color: #FCFCFC;
    border: 3px solid #a8cfec;
    color: black;
    font-weight: bold;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 12px 12px;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.light-captionpanel {
    background-color: #FCFCFC;
    border: 2px solid #a8cfec;
    color: black;
    font-weight: normal;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 12px 12px;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.webEase-title {
    background-color: #FCFCFC;
    border: 2px solid #a8cfec;
    color: black;
    font-weight: normal;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 12px 12px 12px;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    font-variant: small-caps;
    letter-spacing:0.1em;
    font-weight: bold;
}
.bordered-popupPanel {
    border: 3px solid #9ecaed;;
    border-radius: 7px;    
    outline: none;
	box-shadow: 0 0 10px #9ecaed;
}
.informationalPopupMessage {
	background-color: #f8f5c4;
}
.emailLabel {
	color: grey;
	font-size: 12pt;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	border: 2px solid;
    border-radius: 7px;
}
.body {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 12pt;
	font-weight: normal;
    margin: 0 0 5px;
    padding: 5px 8px 8px;
}
.tableBody {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 11pt;
	font-weight: normal;
    margin: 0 0 0;
    padding: 0 0 0;
}
.tableDeleteButton {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	color: white;
	background-color: darkRed;
    background-image: url("images/red_gradient.gif");
    background-repeat: repeat-x;
    min-width: 150px;
    max-width: 250px;
}
/* 
.gwtButton button {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	color: white;
	background-color: darkRed;
    background-image: url("images/red_gradient.gif");
    background-repeat: repeat-x;
    min-width: 150px;
    max-width: 250px;
}
 */
.tab-style-content .gwt-TabLayoutPanelContent
{
	overflow: auto !important;     
}
.statusLabel {
	color: grey;
	font-size: 10pt;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	border: 2px solid;
    border-radius: 5px;
}
.gridRow-even {
  background-color: #fff;
}
.gridRow-odd {
  background-color:AntiqueWhite;
}
.pspGridRow-success {
  	background-color:LightGreen;
}
.pspGridRow-inProgress {
  	background-color:Yellow;
}
.pspGridRow-failure {
	color: lightgrey;
	background-color:Crimson;
}
.pspGridRow-simulated {
  	background-color:LightBlue;
}
.pspGridRow-rolledBack {
  	background-color:Orange;
}
.productColumn {
 	border: 1px solid;
    border-radius: 5px;
    padding: 6px;
}
.productCategory {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	padding-bottom: 3px;
	background-color: #eeba37;
}
.productAnchor {
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	background-color: #232f3e;
/*	background-color: #f1f1f1; */
}
.productAnchor:hover {
	color: orange;
}
.productAnchorBlocked {
	text-decoration: line-through;
}
.productAnchorBlocked:hover {
	text-decoration: line-through;
}

.sideCarousel {
    z-index: 0;
}

.centerCarousel {
    z-index: 1;
}
.errorAnchor {
	color: red;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.errorAnchor:hover {
	color: orange;
}
.checkSessionAnchor {
	color: blue;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.checkSessionAnchor:hover {
	color: orange;
}
.awsButton {
	border: 1px solid;
	border-color: #be952c #a68226 #9b7924;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	text-shadow: hsla(0,0%100%.0) 0 1px 0;
	background: #eeba37;
	background-image: linear-gradient(180deg,#fee6b0 0,#eeba37);
	font-family: Helvetica Neue Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6);
	color: #333;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.normalButton {
	border: 1px solid #ccc !important;
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e0e0e0) !important;
	box-shadow: 0 0 0 rgba(000,000,000,0),inset 0 0 2px rgba(255,255,255,1) !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1),0 0 0 rgba(255, 255, 255, 0) !important;
	font-weight: bold !important;
	cursor: pointer !important;
	text-transform: none !important;
	overflow: visible !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border-radius: 3px !important;
	min-width: 105px !important;
	display: inline-block !important;
	height: 35px !important;
	text-align: center !important;
	font-size: 14px !important;
	color: #444 !important;
}
.actionButton {
	display: inline-block;
	vertical-align: top !important;
	margin-right: 0 !important;
	font-weight: bold;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0 0 0 rgba(000, 000, 000, 0),inset 0 0 2px rgba(119, 170, 204, 1);
	text-shadow: 0 1px 0 rgba(025, 084, 167, 1),0 0 0 rgba(255, 255, 255, 0);
	font: 14px/ 1.3em "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	background: -moz-linear-gradient(top, #38d 0%, #16b);
	border-radius: 3px;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.infoLabel {
	
}
.warningLabel {
	
}
.errorLabel {
	color: red !important;
}
.missingRequiredField {
	background-color: #efbebe;
}
.notification {
  animation: blinker .7s cubic-bezier(.5, 0, 1, 1) 10 alternate;  
}
@keyframes blinker { to { opacity: 0; } }
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.accountNotificationAnchor {
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.accountNotificationAnchor:hover {
	color: orange;
}
.accountNotificationText {
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.mediumLabel {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #e47911;
}
.skeletonService {
	background: red important!;
	color: white important!;
	/*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) 50 alternate !important;*/  
}
.waitingForWork {
	animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) 50 alternate;  
}
@keyframes blinker { to { opacity: 0; } }
.longWrappedLabel {
	width: 350px !important;
    word-wrap: break-word !important;
}
/*
.gwt-HTML {
	color: #232f3e !important;
	font-size: 14px !important;
	text-align: left !important;
	padding-right: 10px !important;
	padding-bottom: 2px !important;
	padding-top: 3px !important;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
*/
.alertMessage {
	color: #232f3e !important;
	font-size: 14px !important;
	text-align: left !important;
	padding-right: 10px !important;
	padding-bottom: 2px !important;
	padding-top: 3px !important;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.gridHeader {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	color: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f3f4), to(#e0e0e0));
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	padding: 0 5px;
}
.gridWidget {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    padding: 5px !important;
}
.gridEvenRow {
	background:  #fef5e7 ;
}
.gridOddRow {
	background: #fff;
}
.flexTable td {
   border: 1px solid #BBBBBB;
   padding: 3px;
}
.categoryAnchor {
	background: #232f3e;
	color: #fff;
	font-size: 16px;
	font-weigh: bold;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.linksMenuHeader:hover {
	color: orange;
}
.productDescription {
	background: #232f3e;
	color: #fff;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.categoryHeader {
	background: #232f3e;
	color: #fff;
	font-size: 18px;
	font-weigh: bold;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.tableAnchor {
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.tableAnchor:hover {
	color: orange;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.vpcp-PopupPanel-GlassStyle {
	background-color : #333;
	opacity          :   0.4;
	clip             :   rect(auto,auto,auto,auto);
}
.breadCrumbAnchor {
	color: grey;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	background: #232f3e;
}
.breadCrumbAnchor:hover {
	color: orange;
}
.label-center {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	font-weight: bold;
    margin: 0 0 0;
    padding: 0 0 0;
    text-align: center;
    vertical-align: middle;
}
.myFlexTable {
	/*border: 1px solid black;*/
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    padding: 5px !important;
}
.myFlexTable-header {
	/*border: 1px solid black;*/
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	color: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f3f4), to(#e0e0e0));
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	padding: 0 5px;
}
.myFlexTable tr {
	/*border: 1px solid black;*/
	/*border-bottom: 1px solid #ddd;*/
}
.myFlexTable td {
	border-right: 1px solid #ddd;
	/*
	border: none;
	border:  1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	*/
}
.myFlexTable-evenRow {
	background:  #fef5e7 ;
}
.myFlexTable-oddRow {
	background: #fff;
}
.myFlexTable-grid {
	border: none !important;
}
.speedTypeGood {
	color: green !important;
}
.speedTypeBad {
	color: red !important;
}
.speedTypeWarning {
	color: orange !important;
}
.noResultsMessage {
	color: #232f3e !important;
	font-size: 16px !important;
	font-weight: bold !important;
	text-align: center !important;
	padding-bottom: 2px !important;
	padding-top: 4px !important;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
