# This is a sample build configuration for Java (Maven).
# Check our guides at https://confluence.atlassian.com/x/zd-5Mw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image:
  name: emory/webapp-base-1.0:latest
  username: $DOCKER_HUB_USERNAME
  password: $DOCKER_HUB_PASSWORD
  email: $DOCKER_HUB_EMAIL
  run-as-user: 1000

pipelines:
  default:
    - step:
        name: Build, package, upload
        caches:
          - maven
        script: # Modify the commands below to build your repository.
          - export BUILD_HOME=`pwd`
          - source $HOME/.profile
          - sed -i 's/APPLICATION_ENVIRONMENT_BASE/'"$APPLICATION_ENVIRONMENT_BASE"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/APPLICATION_NAME/'"$APPLICATION_NAME"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/AWS_DEFAULT_REGION/'"$AWS_DEFAULT_REGION"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/GWT_PROJECT_NAME/'"$GWT_PROJECT_NAME"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/BRANCH_NAME/'"$BITBUCKET_BRANCH"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/MVN_ARTIFACT_ID/'"$MVN_ARTIFACT_ID"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/MVN_VERSION/'"$MVN_VERSION"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/MVN_PACKAGING/'"$MVN_PACKAGING"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/BUILD_NUMBER/'"$BITBUCKET_BUILD_NUMBER"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/S3_BUCKET/'"$S3_BUCKET"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - mvn package
          - cd $BUILD_HOME
          - mv target/${MVN_ARTIFACT_ID}-${MVN_VERSION} target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}
          - mv target/${MVN_ARTIFACT_ID}-${MVN_VERSION}.${MVN_PACKAGING} target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war
          - zip -r rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip .
          - mv rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip target
          - ls -la target
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/rhedcloud/rhedcloud-aws-pipeline-scripts.git
          # first, upload the build artifact to bitbucket downloads area
          - rhedcloud-aws-pipeline-scripts/upload_artifact.sh target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war
          # upload archive (zip only) to our S3 bucket (download area)
          - rhedcloud-aws-pipeline-scripts/upload_artifact_s3.sh target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip rhedcloud-bitbucket-downloads /rhedcloud-vpcprovisioning-webapp/
          - rm target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.zip
          - rm target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war
        artifacts:
          - deploy/**
          - target/**
          
    - step:
        name: Deploy to dev
        trigger: manual
        script:
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/rhedcloud/rhedcloud-aws-pipeline-scripts.git
          - source $HOME/.profile
          # begin for shibboleth (DEV)
          #- python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-cert-pem-dev.vpcp.emory.edu .ebextensions/files/sp-cert.pem
          #- python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-key-pem-dev.vpcp.emory.edu .ebextensions/files/sp-key.pem
          - ls -la .ebextensions/files
          - sed -i 's,IDP_URL,https://login.emory.edu:4444/idp/shibboleth,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,ENTITY_ID,https://dev.vpcp.emory.edu,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,https://dev.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,dev.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - cp target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (DEV)
          - python3 rhedcloud-aws-pipeline-scripts/beanstalk_deploy.py DEV
    
    - step:
        name: Deploy to test
        deployment: test
        trigger: manual
        script:
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/rhedcloud/rhedcloud-aws-pipeline-scripts.git
          - source $HOME/.profile
          # begin for shibboleth (TEST)
          - python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-cert-pem-test.vpcp.emory.edu .ebextensions/files/sp-cert.pem
          - python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-key-pem-test.vpcp.emory.edu .ebextensions/files/sp-key.pem
          - sed -i 's,IDP_URL,https://login.emory.edu/idp/shibboleth,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,ENTITY_ID,https://test.vpcp.emory.edu,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,https://test.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,test.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - cp target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (TEST)
          - python3 rhedcloud-aws-pipeline-scripts/beanstalk_deploy.py TEST

    - step:
        name: Deploy to staging
        deployment: staging
        trigger: manual
        script:
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/rhedcloud/rhedcloud-aws-pipeline-scripts.git
          - export BUILD_HOME=`pwd`
          - source $HOME/.profile
          # begin for shibboleth (stage)
          - python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-cert-pem-stage.vpcp.emory.edu .ebextensions/files/sp-cert.pem
          - python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-key-pem-stage.vpcp.emory.edu .ebextensions/files/sp-key.pem
          - sed -i 's,IDP_URL,https://login.emory.edu/idp/shibboleth,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,ENTITY_ID,https://stage.vpcp.emory.edu,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,https://stage.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,stage.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - cp target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (stage)
          - python3 rhedcloud-aws-pipeline-scripts/beanstalk_deploy.py STAGE

    - step:
        name: Deploy to production
        deployment: production
        trigger: manual
        script:
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/rhedcloud/rhedcloud-aws-pipeline-scripts.git
          - export BUILD_HOME=`pwd`
          - source $HOME/.profile
          # begin for shibboleth (prod)
          - python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-cert-pem-prod.vpcp.emory.edu .ebextensions/files/sp-cert.pem
          - python3 rhedcloud-aws-pipeline-scripts/read_aws_secret_to_file.py sp-key-pem-prod.vpcp.emory.edu .ebextensions/files/sp-key.pem
          - sed -i 's,IDP_URL,https://login.emory.edu/idp/shibboleth,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,ENTITY_ID,https://vpcp.app.emory.edu/,g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,https://prod.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,prod.vpcp.emory.edu,g' .ebextensions/httpd/conf.d/elasticbeanstalk/00_application.conf
          - cp target/rhedcloud-vpcprovisioning-webapp-${BITBUCKET_BRANCH}-${BITBUCKET_BUILD_NUMBER}.war /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (prod)
          - python3 rhedcloud-aws-pipeline-scripts/beanstalk_deploy.py PROD
