# This is a sample build configuration for Java (Maven).
# Check our guides at https://confluence.atlassian.com/x/zd-5Mw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image:
  name: emory/webapp-base-1.0:latest
  username: $DOCKER_HUB_USERNAME
  password: $DOCKER_HUB_PASSWORD
  email: $DOCKER_HUB_EMAIL
  run-as-user: 1000

pipelines:
  default:
    - step:
        name: Build, package, deploy to DEV
        caches:
          - maven
        script: # Modify the commands below to build your repository.
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
          - source $HOME/.profile
          - cd $GWT_PROJECT_NAME
          - sed -i 's/APPLICATION_ENVIRONMENT_BASE/'"$APPLICATION_ENVIRONMENT_BASE"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/APPLICATION_NAME/'"$APPLICATION_NAME"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/AWS_DEFAULT_REGION/'"$AWS_DEFAULT_REGION"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/GWT_PROJECT_NAME/'"$GWT_PROJECT_NAME"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/BRANCH_NAME/'"$BITBUCKET_BRANCH"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/MVN_ARTIFACT_ID/'"$MVN_ARTIFACT_ID"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/MVN_VERSION/'"$MVN_VERSION"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/MVN_PACKAGING/'"$MVN_PACKAGING"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/BUILD_NUMBER/'"$BITBUCKET_BUILD_NUMBER"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - sed -i 's/S3_BUCKET/'"$S3_BUCKET"'/g' src/edu/emory/oit/vpcprovisioning/shared/ReleaseInfo.java
          - mvn package
          - curl -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"target/${MVN_ARTIFACT_ID}-${MVN_VERSION}.${MVN_PACKAGING}"
          - cd ..
          # begin for shibboleth (DEV)
          - export IDP_URL=https://login.emory.edu:4443/idp/shibboleth
          - export APPLICATION_URL=https://dev.vpcp.emory.edu
          - sed -i 's,IDP_URL,'"$IDP_URL"',g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,APPLICATION_URL,'"$APPLICATION_URL"',g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,"https://dev.vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,"dev.vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
          - cp ${GWT_PROJECT_NAME}/target/${MVN_ARTIFACT_ID}-${MVN_VERSION}.${MVN_PACKAGING} /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (DEV)
          - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py DEV
          - mv $GWT_PROJECT_NAME/target ./
        artifacts:
          - target/**
          
#    - step:
#        name: Deploy to test
#        deployment: test
#        trigger: manual
#        script:
#          - mv target $GWT_PROJECT_NAME
#          - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
#          # begin for shibboleth (TEST)
#          - export IDP_URL=https://login.emory.edu:4443/idp/shibboleth
#          - export APPLICATION_URL=https://test.vpcp.emory.edu
#          - sed -i 's,IDP_URL,'"$IDP_URL"',g' .ebextensions/files/shibboleth2.xml
#          - sed -i 's,APPLICATION_URL,'"$APPLICATION_URL"',g' .ebextensions/files/shibboleth2.xml
#          - sed -i 's,SERVER_NAME,"https://test.vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
#          - sed -i 's,SERVER_ALIAS,"test.vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
#          - cp ${GWT_PROJECT_NAME}/target/${MVN_ARTIFACT_ID}-${MVN_VERSION}.${MVN_PACKAGING} /tmp/ROOT.war
#          - jar -uf /tmp/ROOT.war .ebextensions
#          # end for shibboleth (TEST)
#          - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py TEST

    - step:
        name: Deploy to staging
        deployment: staging
        trigger: manual
        script:
          - mv target $GWT_PROJECT_NAME
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
          - source $HOME/.profile
          # begin for shibboleth (stage)
          - export IDP_URL=https://login.emory.edu:4443/idp/shibboleth
          - export APPLICATION_URL=https://stage.vpcp.emory.edu
          - sed -i 's,IDP_URL,'"$IDP_URL"',g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,APPLICATION_URL,'"$APPLICATION_URL"',g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,"https://stage.vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,"stage.vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
          - cp ${GWT_PROJECT_NAME}/target/${MVN_ARTIFACT_ID}-${MVN_VERSION}.${MVN_PACKAGING} /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (stage)
          - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py STAGE

    - step:
        name: Deploy to production
        deployment: production
        trigger: manual
        script:
          - mv target $GWT_PROJECT_NAME
          - git clone https://${BB_AUTH_STRING}@bitbucket.org/itarch/emory-aws-pipeline-scripts.git
          # begin for shibboleth (prod)
          - export IDP_URL=https://login.emory.edu/idp/shibboleth
          - export APPLICATION_URL=https://vpcp.emory.edu
          - sed -i 's,IDP_URL,'"$IDP_URL"',g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,APPLICATION_URL,'"$APPLICATION_URL"',g' .ebextensions/files/shibboleth2.xml
          - sed -i 's,SERVER_NAME,"https://vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
          - sed -i 's,SERVER_ALIAS,"vpcp.emory.edu",g' .ebextensions/httpd/conf.d/elasticbeasnstalk/00_application.conf
          - cp ${GWT_PROJECT_NAME}/target/${MVN_ARTIFACT_ID}-${MVN_VERSION}.${MVN_PACKAGING} /tmp/ROOT.war
          - jar -uf /tmp/ROOT.war .ebextensions
          # end for shibboleth (prod)
          - python3 emory-aws-pipeline-scripts/beanstalk_deploy.py PROD