.outer {
	background: #eee;
}

.title {
	background: #393939;
	color: white;
	padding: 4px 10px;
	font-size: 3.6em;
}

.subTitle {
	background: #8F8282;
	color: white;
	padding: 4px 10px;
	font-size: 3.6em;
}

.editForm {
	padding: 30px;
	background: white;
}

.viewForm {
	padding: 30px;
	background: lightGrey;
}

.label {
	color: #666;
	font-size: 3.6em;
	padding-bottom: 3px;
}

.field {
	width: 100%;
	margin-bottom: 12px;
	font-size: 3.6em;
}

.textBoxWrapper {
	margin-right: 10px;
}

.nameBox {
	height: 2.2em;
}

.passcodeField {
	width: 100%;
	margin-bottom: 12px;
	font-size: 3.6em;
}

.passcodeBox {
	height: 2.2em;
	text-align: center;
}

.passcodePanel {
	width: 100%;
 	padding: 10px;
	margin-top: 15px;
}

.notesBox {
	height: 4.4em;
}

.violation {
	color: red;
}

.buttonPanel {
	width: 100%;
	padding: 10px;
	margin-top: 15px;
}

.button {
	width: 100%;
	height: 2.2em;
	font-size: 3.6em;
}

.sliderPanelWrapper {
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	padding: 10px;
	margin-top: 15px;
	font-size: 3.6em;
}

.checkBox {
	width: 100%;
	height: 2.2em;
	font-size: 3.6em;
}

