commands:
  01addShibbolethRepo:
    command: yum-config-manager --add-repo http://download.opensuse.org/repositories/security:/shibboleth/RHEL_6/security:shibboleth.repo
  02addShibbolethPackage:
    command: yum -y install shibboleth.x86_64

container_commands:
  01copyShibbolethConfig:
    command: cp .ebextensions/files/shibboleth2.xml /etc/shibboleth/shibboleth2.xml

services:
  sysvinit:
    httpd:
      enabled: "true"
      ensureRunning: "true"
      files:
        - "/etc/httpd/conf.d/elasticbeanstalk/00_application.conf"
    shibd:
      enabled: "true"
      ensureRunning: "true"
      files:
        - "/etc/shibboleth/shibboleth2.xml"
