files:
  "/etc/yum.repos.d/shibboleth.repo" :
    mode: "000755"
    owner: root
    group: root
    content: |
      [shibboleth]
      name=Shibboleth (RHEL_6)
      # Please report any problems to https://issues.shibboleth.net
      type=rpm-md
      mirrorlist=https://shibboleth.net/cgi-bin/mirrorlist.cgi/RHEL_6
      gpgcheck=1
      gpgkey=https://downloadcontent.opensuse.org/repositories/security:/shibboleth/RHEL_6/repodata/repomd.xml.key
      enabled=1
      exclude=bihs.aco.net
    encoding: plain
    
commands:
  01addShibbolethPackage:
    command: yum -y install shibboleth-2.6.1
  02addYumVersionLockPackage:
    command: yum -y install yum-plugin-versionlock
  03lockShibboleth:
    command: yum versionlock shibboleth-2.6.1

container_commands:
  01copyShibbolethConfig:
    command: cp .ebextensions/files/shibboleth2.xml /etc/shibboleth/shibboleth2.xml
  02copyAttributeMap:
    command: cp .ebextensions/files/attribute-map.xml /etc/shibboleth/attribute-map.xml
#  03copySPCert:
#    command: cp .ebextensions/files/sp-cert.pem /etc/shibboleth/sp-cert.pem
#  04copySPKey:
#    command: cp .ebextensions/files/sp-key.pem /etc/shibboleth/sp-key.pem

services:
  sysvinit:
    httpd:
      enabled: "true"
      ensureRunning: "true"
      files:
        - "/etc/httpd/conf.d/elasticbeanstalk/00_application.conf"
    shibd:
      enabled: "true"
      ensureRunning: "true"
      files:
        - "/etc/shibboleth/shibboleth2.xml"
