files:
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.tomcat8.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      /var/log/tomcat8/* {
      size 10M
      rotate 30
      missingok
      compress
      notifempty
      copytruncate
      dateext
      dateformat %s
      olddir /var/log/tomcat8/rotated
      }
  "/tmp/logarchival.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #! /bin/bash
      cat /opt/python/
      echo Creating cloudwatch config file in /home/ec2-user/awslogs.conf
      envName=`{"Ref": "AWSEBEnvironmentName" }`
      instance_id=`curl http://169.254.169.254/latest/meta-data/instance-id`
      cat <<EOF >/home/ec2-user/awslogs.conf
      [general]
      state_file = /var/awslogs/state/agent-state

      [/var/log/tomcat8/localhost_access_log.txt]
      file = /var/log/tomcat8/localhost_access_log.txt
      datetime_format = %b %d %H:%M:%S
      initial_position = start_of_file
      buffer_duration = 5000
      log_stream_name = ${instance_id}
      log_group_name = /aws/elasticbeanstalk/${envName}/var/log/tomcat8/localhost_access_log.txt

      [/var/log/tomcat8/catalina.out]
      file = /var/log/tomcat8/catalina.out
      datetime_format = %b %d %H:%M:%S
      initial_position = start_of_file
      buffer_duration = 5000
      log_stream_name = ${instance_id}
      log_group_name = /aws/elasticbeanstalk/${envName}/var/log/tomcat8/catalina.out

      echo Downloading cloudwatch logs setup agent
      cd /home/ec2-user
      wget https://s3.amazonaws.com/aws-cloudwatch/downloads/latest/awslogs-agent-setup.py

      echo running non-interactive cloudwatch-logs setup script
      sudo python /home/ec2-user/awslogs-agent-setup.py --region us-east-1 --non-interactive --configfile=/home/ec2-user/awslogs.conf
      sudo service awslogs restart

container_commands:
  01_step_1:
    command: sh /tmp/logarchival.sh
