body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 5px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
/* 	font-size: 99%;
 */	padding: 1px 0px;
	margin: 0px;
	white-space: nowrap;
	cursor: hand;
	cursor: pointer;
 }

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	cursor: hand !important;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
	cursor: hand !important;
	color: darkblue;
}

.gwt-SuggestBoxPopup .item-selected {
	cursor: hand !important;
}

/*
.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}
*/

/** MY STUFF **/

.header-container {
	background-color: #353535;
	/*
    background-image: url("images/blue_gold_gradient.gif");
    background-repeat: repeat-x;
    */
    color: #CCCCCC;
    height: 100%;
    width: 100%;
}
.footer-container {
    /*
	background-color: #353535;
    */
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    /*
    color: #CCCCCC;
    */
    font-family: Tahoma,Verdana,Arial,Helvetica;
    font-size: 13px;
    height: 50px;
    position: relative;
    text-align: center;
}
.header-divider { 
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    height: 6px;
    width: 100%;
}
.header-spacer { 
    height: 10px;
    width: 100%;
}
.footer-divider { 
	/*
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    */
    height: 11px;
    width: 100%;
}
.divider { 
    background-color: green;
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    height: 11px;
    width: 100%;
}
.thin-divider { 
	/*
    background-image: url("images/emblue_gradient.gif");
    background-repeat: repeat-x;
    */
	background-color: #353535;
    height: 1px;
    width: 100%;
}
.navLink {
	color: grey;
	cursor: pointer;
	font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 13px;
}
.dotted {
	border-top: 1px dotted #BBBBBB;
	border-right: 1px dotted #BBBBBB;
	border-bottom: 1px dotted #BBBBBB;
	border-left: 1px dotted #BBBBBB;
}
.linkBar {
	/*
	border-right: 1px solid #BBBBBB;
    padding: 8px;
    */
}
.heavy-captionpanel {
    background-color: #FCFCFC;
    border: 6px solid #999999;
    color: black;
    font-weight: bold;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 24px;
    margin: 0 0 15px;
    padding: 0 12px 12px;
    border-radius: 7px;
}
.medium-captionpanel {
    background-color: #FCFCFC;
    border: 3px solid #a8cfec;
    color: black;
    font-weight: bold;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 12px 12px;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.medium-captionpanel a {
	color: green;
}
.light-captionpanel {
    background-color: #FCFCFC;
    border: 1px solid #a8cfec;
    color: black;
    font-weight: normal;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    outline: none;
    border-color: #e47911;
    box-shadow: 0 0 5px #e47911;
}
.signInLabel {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 16px;
	font-style: normal;
	font-weight: bold;
}
.redSignInLabel {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: red;
}
.mediumLabel {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #e47911;
}
.introHeading {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: black;
}
.body {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 12pt;
	font-weight: normal;
    margin: 0 0 5px;
    padding: 5px 8px 8px;
}
.label {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	font-weight: bold;
	/*
    margin: 0 0 0;
    padding: 0 0 0;
    */
    text-align: right;
    vertical-align: middle;
}
.label-left {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	font-weight: bold;
    margin: 0 0 0;
    padding: 0 0 0;
    text-align: left;
    vertical-align: middle;
}
.label-center {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	font-weight: bold;
    margin: 0 0 0;
    padding: 0 0 0;
    text-align: center;
    vertical-align: middle;
}
.heading_label {
    color: black;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
	font-weight: bold;
    margin: 0 0 0;
    padding: 0 0 0;
    text-align: left;
    vertical-align: middle;
}
.content {
	color: grey;
	font-size: 14pt;
	padding-bottom: 3px;
	font-weight: normal;
}

.wizardPanel {
    background-color: #FCFCFC;
    /*border: 3px solid #a8cfec;*/
    color: black;
	font-weight: bold;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 12px 12px;
}
.listPanel {
	border-bottom: 2px solid #BBBBBB;
    padding: 0 12px 12px;
}
.important {
	font-weight: bold;
}
.cool_list {
    color: #444444;
    font-size: 16px;
    list-style: circle outside none !important;
    margin: 0 0 10px 15px;
    padding: 0;
}
.deleteButton {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	color: white;
	background-color: darkRed;
    background-image: url("images/red_gradient.gif");
    background-repeat: repeat-x;
    min-width: 150px;
    max-width: 250px;
}
.cancelButton {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	color: white;
	background-color: darkRed;
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    min-width: 150px;
    max-width: 250px;
}
.saveButton {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	color: white;
	background-color: darkGreen;
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    min-width: 150px;
    max-width: 250px;
}
.addButton {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	color: white;
	background-color: darkBlue;
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
    min-width: 150px;
    max-width: 250px;
}
.searchTextBox {
    color: grey;
    /*
	border-top: 1px dotted #BBBBBB;
	border-bottom: 1px dotted #BBBBBB;
	border-left: 1px dotted #BBBBBB;
	border-style: solid;
	border-right: thick black;
	*/
}
.logEntryPanel {
	border-top: 1px dotted #BBBBBB;
	border-bottom: 1px dotted #BBBBBB;
	border-left: 1px dotted #BBBBBB;
}
.informationalPopupMessage {
	background-color: #f8f5c4;
}
.informationalPopupAnchor {
	text-decoration:underline;
}
.maintenanceDialog {
	background-color: #353535;
    /*background-color: green;*/
    background-image: url("images/blue_gradient.gif");
    background-repeat: repeat-x;
}
.roundedTextBox {
  border:2px solid;
  border-radius:25px;
}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}
.glowing-border:focus { 
    outline: none;
    border-color: #e47911;
    box-shadow: 0 0 5px #e47911;
    /*
    border-color: #b6bdc3;
    box-shadow: 0 0 10px #b6bdc3;
    */
}
.bannerImage {
	cursor: pointer;
	background-image: url(images/banner-bckgrd.png); 
	background-position:center; 
	height:100px;
}
.flowPanel_inline {
  float: left;
  display: inline;
  margin-right: 4px;
}
.tab-style-content .gwt-TabLayoutPanelContent
{
	overflow: auto !important;     
}
.field {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	width: 250px;
	font-size: 12pt;
}
.longField {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	width: 500px;
	font-size: 12pt;
}
.listBoxField {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	width: 250px;
	font-size: 12pt;
	padding: 5px;
}
.fieldGrid {
	padding: 5px !important;
}
.textBoxWrapper {
	margin-right: 10px;
}
.nameBox {
	height: 2.2em;
}
.emailLabel {
	color: grey;
	font-size: 12pt;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	border: 2px solid;
    border-radius: 7px;
}
.longStatusLabel {
	color: grey;
	font-size: 10pt;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	border: 2px solid;
    border-radius: 5px;
    min-width: 150px;
    max-width: 1000px;
}
.statusLabel {
	color: grey;
	font-size: 10pt;
	padding: 3px;
	font-weight: normal;
	text-align: left;
	border: 2px solid;
    border-radius: 5px;
    min-width: 150px;
    max-width: 250px;
}
.statusPanel {
	color: grey;
	border: 2px solid;
    border-radius: 5px;
}
.systemStatusLink {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 12px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* AWS styles */
.header {
	background: black;
	color: white;
	font-size: 2.8em;
	line-height: 25pt;
	text-align: center;
	font-weight: bold;
}

.subTitle {
	background: black;
	color: white;
	font-size: 14pt;
	text-align: center;
	font-weight: bold;
}

.releaseInfo {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.logo {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.linksPanel {
	padding: 10px;
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.products {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.linksMenu {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	padding-left: 25px;
}

.linksMenuHeader {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.linksMenuHeader:hover {
	color: orange;
}

.linksMenuItem {
	background: #fff;
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.linksMenuItemUnFollowable {
	background: #fff;
	font-size: 14px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.releaseInfoPanel {
	padding-top: 10px;
	cursor: default;
}

.linksMenuItem:hover {
	color: orange !important;
}

.breadCrumbAnchor {
	color: grey;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	background: #232f3e;
}
.breadCrumbAnchor:hover {
	color: orange;
}
.productAnchor {
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.productAnchor:hover {
	color: orange;
}

.productsMenuHeader {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 15px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.productsMenuHeader:hover {
	color: orange;
}

.featuresMenuHeader {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 15px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.featuresMenuHeader:hover {
	color: orange;
}

.menuItemSeparator {
	width: 1px;
		height: 1px;
		background: white;
}

a {
	background: #fff;
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a:hover {
	color: orange !important;
	text-decoration: none;
}

a:active {
	color: orange !important;
	text-decoration: none;
}

.notifications {
	background: #232f3e;
	color: white;
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.deckPanel {
	color: black;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border-style: solid;
}
.content {
	color: black;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border-style: solid;
}
.awsButton {
	border: 1px solid;
	border-color: #be952c #a68226 #9b7924;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	text-shadow: hsla(0,0%100%.0) 0 1px 0;
	background: #eeba37;
	background-image: linear-gradient(180deg,#fee6b0 0,#eeba37);
	font-family: Helvetica Neue Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6);
	color: #333;
}
.linksPanelLink {
	padding-left: 25px;
}
.linksPanelLink:hover {
	color: orange;
}
.editorialImageCell {
	color: grey;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border-style: solid;
	box-sizing: border-box;
	width: 150px;
}
.editorialImageCell:hover {
	border-color: #be952c #a68226 #9b7924;
	box-shadow: #e6e6e6 2px 2px 3px;
	cursor: pointer;
}
.h1 {
	font-size: 2.4em;
	color: #e47911;
	font-weight: 300;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-align: center;
	line-height: 1.3em;
	
}
.servicesGrid {
	vertical-align: top;
}
.servicesCellHeading {
	font-size: 1.5em;
	color: #e47911;
	font-weight: 300;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-align: center;
	line-height: 1.3em;
	width: 350px;
	padding: 10px;
}
.servicesCellContent {
	width: 350px;
	font-size: 14px;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	padding: 10px;
	border-right-style: dotted;
	vertical-align: top;
	text-align: left;
}
/*
	border: 1px solid;
	border-color: #be952c #a68226 #9b7924;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	text-shadow: hsla(0,0%100%.0 0 1px 0;
	background: #eeba37;
	background-image: linear-gradient(180deg,#fee6b0 0,#eeba37);
	font-family: Helvetica Neue Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6);
	color: #333;
*/

.refreshButton {
	border-radius: 3px;
	height: 30px;
	width: 30px;
}
.normalButton {
	border: 1px solid #ccc;
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e0e0e0);
	box-shadow: 0 0 0 rgba(000,000,000,0),inset 0 0 2px rgba(255,255,255,1);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1),0 0 0 rgba(255, 255, 255, 0);
	font-weight: bold;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	text-align: center;
	font-size: 14px;
	color: #444;
}
.actionButton {
	display: inline-block;
	vertical-align: top !important;
	margin-right: 0 !important;
	font-weight: bold;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0 0 0 rgba(000, 000, 000, 0),inset 0 0 2px rgba(119, 170, 204, 1);
	text-shadow: 0 1px 0 rgba(025, 084, 167, 1),0 0 0 rgba(255, 255, 255, 0);
	font: 14px/ 1.3em "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	background: -webkit-linear-gradient(top, #38d 0%, #16b);
	border-radius: 3px;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
/* END AWS Styles */

.alertMessage {
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.waitingForWork {
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) 50 alternate;  
}
.notification {
  animation: blinker .7s cubic-bezier(.5, 0, 1, 1) 10 alternate;  
}
@keyframes blinker { to { opacity: 0; } }

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.skeletonService {
	background: red important!;
	color: white important!;
	/*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) 50 alternate !important;*/  
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.gridHeader {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	color: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f3f4), to(#e0e0e0));
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	padding: 0 5px;
}
.gridWidget {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    padding: 5px !important;
}
.gridEvenRow {
	background:  #fef5e7 ;
}
.gridOddRow {
	background: #fff;
}
.tableAnchor {
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.tableAnchor:hover {
	color: orange;
}
.wizardPanel {
	color: grey;
	border-top: 1px solid;
    /*border-radius: 5px;*/
}
.rhedcloudLogo {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
	padding-bottom: 2px;
	padding-top: 4px;
}

.myFlexTable {
	/*border: 1px solid black;*/
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    padding: 5px !important;
}
.myFlexTable-header {
	/*border: 1px solid black;*/
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	color: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f3f4), to(#e0e0e0));
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	padding: 0 5px;
}
.myFlexTable tr {
	/*border: 1px solid black;*/
	/*border-bottom: 1px solid #ddd;*/
}
.myFlexTable td {
	border-right: 1px solid #ddd;
	/*
	border: none;
	border:  1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	*/
}
.myFlexTable-evenRow {
	background:  #fef5e7 ;
}
.myFlexTable-oddRow {
	background: #fff;
}
.myFlexTable-grid {
	border: none !important;
}
.noResultsMessage {
	color: #232f3e !important;
	font-size: 16px !important;
	font-weight: bold !important;
	text-align: center !important;
	padding-bottom: 2px !important;
	padding-top: 4px !important;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
