<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>edu.emory.oit.vpcprovisioning.server.filter.NoCacheFilter</filter-class>
		<init-param>
			<param-name>welcomeFileName</param-name>
			<param-value>VpcProvisioningEntryPoint.html</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>VpcProvisioningService</servlet-name>
		<servlet-class>edu.emory.oit.vpcprovisioning.server.VpcProvisioningServiceImpl</servlet-class>
		<init-param>
			<param-name>useEsbService</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>configDocPath</param-name>
			<!-- Local testing -->
			<!-- <param-value>file:///Users/jtjacks/eclipse-workspace/deployment-esb-dev/Deployments/VpcProvisioningWebApplication.xml</param-value> -->

			<!-- for ALL EAP environments (value is turned into a URL by start scripts on server) -->
			<!-- Also used for AWS deployment and testing -->
			<param-value>configs/messaging/Environments/Examples/Deployments/VpcProvisioningWebApplication.xml</param-value>
		</init-param>
		<init-param>
			<param-name>appId</param-name>
			<param-value>edu.emory.lits.VpcProvisioningWebApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>awsS3Servlet</servlet-name>
		<servlet-class>edu.emory.oit.vpcprovisioning.server.AmazonS3DownloadServlet</servlet-class>
		<init-param>
			<param-name>configDocPath</param-name>
			<!-- Local testing -->
			<!-- <param-value>file:///Users/jtjacks/eclipse-workspace/deployment-esb-dev/Deployments/VpcpAmazonS3Servlet.xml</param-value> -->

			<!-- for ALL EAP environments (value is turned into a URL by start scripts on server) -->
			<!-- Also used for AWS deployment and testing -->
			<param-value>configs/messaging/Environments/Examples/Deployments/VpcpAmazonS3Servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>appId</param-name>
			<param-value>edu.emory.lits.VpcpAmazonS3Servlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>restServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>edu.emory.oit.vpcprovisioning.server</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>restServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>VpcProvisioningService</servlet-name>
		<url-pattern>/edu.emory.oit.vpcprovisioning.VpcProvisioningEntryPoint/VpcProvisioningService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>awsS3Servlet</servlet-name>
		<url-pattern>/edu.emory.oit.vpcprovisioning.VpcProvisioningEntryPoint/s3download</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>VpcProvisioningEntryPoint.html</welcome-file>
	</welcome-file-list>
</web-app>
